<!-- templates/information.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="info-section">
    <h2>1. Co to jest autostory24.pl i jak działa?</h2>
    <p>
      Firma autostory24.pl zajmuje się obsługą historii serwisowej pojazdu, maszyn, sprzętów.
      Zasada działania jest bardzo prosta - warsztat naprawiający pojazd lub maszynę wpisuje
      czynności serwisowe do odpowiedniego pojazdu, rozróżniając to za pomocą numeru VIN.
      Dostęp dla użytkownika jest darmowy, sprawdzenie historii pojazdu jest dostępne dla
      wszystkich za darmo, wystarczy znać NUMER VIN rzeczy, której historię serwisową chcemy sprawdzić.
    </p>

    <h2>2. Kto może korzystać?</h2>
    <p>
      Korzystać może każdy, kto posiada pojazd lub chce taki kupić. Pojazd wystarczy
      zarejestrować odpowiednim formularzem.
    </p>

    <h2>3. Jakie korzyści zyskuje użytkownik pojazdu?</h2>
    <p>
      Dzięki spisanej historii serwisowej samochód zyskuje na wartości. Spisanie serwisów
      oraz napraw dodaje wiarygodności przy sprzedaży samochodu, łatwiej negocjować cenę
      podczas sprzedaży. Użytkując pojazd w łatwy sposób można sprawdzić kolejność wymiany
      części eksploatacyjnych, oraz dzięki wpisanemu przebiegowi oraz dacie w raporcie nie
      przegapić okresowej wymiany oleju i filtrów.
    </p>

    <h2>4. Co zyskuje kupujący pojazd?</h2>
    <p>
      Historia serwisowa pewny pojazd, wymiana podzespołów oraz bieżący serwis.
      Nie kupujesz kota w worku, wiadomo co się działo z samochodem, jakie naprawy były
      wykonywane. Podczas zakupu można się zastanowić czy samochód jest warty tych
      pieniędzy. Przykładowo jeżeli samochód, ma ubogą historię serwisową a był w rękach
      właściciela przez 4 lata pozwala to łatwiej negocjować cenę.
    </p>

    <h2>5. Dlaczego warto by twój warsztat był zarejestrowany w programie?</h2>
    <p>
      Cały sens przystąpienia warsztatu do programu ma związek z wyróżnieniem się
      jakością usług oraz uzyskaniem ciągłości kontaktu z klientem. Warsztat, który wpisuje
      wykonaną usługę w historię pojazdu, ma pewność o jakości wykonywanych przez siebie
      usług. Klient zostaje zachęcony do korzystania z usług przez warsztat, który ma możliwość
      wpisania mu historii serwisowej, dzięki której w dłuższej perspektywie zyskuje.
    </p>
  </div>
{% endblock %}

